.python-version
.artwork
.DS_Store
*.pyc
htmlcov
.coverage
ut0/chat_done.dat
solution/
ut*/pop*/*
ut*/te*/*
# Para resetear borrar de aquí para abajo
!ut1/pop0/*.md
!ut1/pop1/*.md
!ut2/pop1/*.md
!ut3/te1/*.md
!ut3/te1/*.py
!ut3/pop1/*.md
