.python-version
.artwork
.DS_Store
*.pyc
node_modules
htmlcov
.coverage
final-de-curso.md
intro/*
!intro/images
!intro/slides.tex
!intro/slides.pdf
ut*/pop*/*
ut*/te*/*
# Para resetear comentar de aquí para abajo
# !ut2/pops2/*.md
# !ut2/pop2/*.md
# !ut3/tee3/*.md
# !ut3/pops3/*.md
# !ut3/tee3/*.md
# !ut3/tep3/*.md
# !ut3/pop3/*.md
# !ut4/pop4/*.md
# !ut5/pop5/*.md
# !ut6/tep6/*.md
# !ut6/tee6/*.md
# !ut6/pop6/*.md
# !ut7/pop7/*.md
# !ut8/tep8/*.md
# !ut8/tee8/*.md
# !ut8/pop8/*.md
# !ut8/popr8/*.md
# !ut8/poprf8/*.md
