.python-version
.artwork
.DS_Store
*.pyc
ut*/pop*/*
!ut*/**/howto.md
!ut1/pop0/README.md
!ut1/pop1/README.md
!ut2/pop0/README.md
!ut2/pop1/README.md
!ut3/pop1/README.md
!ut3/pop2/README.md
!ut4/pop1/README.md
!ut4/pop2/*
ut4/pop2/network.py
ut4/te2/solution/*
!ut4/te2/solution/test_poker.py
